body{
    background-color: #EBEEF1;
}
.top-categories{
    background-color: #00B5A2;
    padding: 10vh 2vw;
    text-align: center;
}
.book-container{
    padding: 4vh 2vw;
    display: flex;
    flex-wrap: wrap;
    
}

.book-container img{
    height: 200px;
}
#dropdownMenuButton1{
    background-color: #189ab4;
}

.card{
    margin: 2vw 3vh;
}

.books-category{
    padding: 5vh 2vw;
}

